<div class="container-sm ">
  <div id="cp-header">
  <p id="cp-header-text" class="h1 text-center">{{headerText}}</p>
  </div>
  <div id="cp-message">
  <h3 id="cp-message-text" class="text-center">{{phases[actualPhase].text}}</h3>
  </div>
  <div id="cp-navigation" class="row">
    <button id="cp-navigation-left" class="col-1 btn btn-secondary" (click)="PreviousPhase()">
      <i class="fa fa-chevron-left"></i>
    </button>
    <button id="cp-navigation-right" class="col-1 offset-10 btn btn-secondary" *ngIf="phases[actualPhase].name !== 'finish'" style="text-align: center" (click)="NextPhase()">
      <i class="fa fa-chevron-right"></i>
    </button>
    <button id="cp-navigation-cart" class="col-1 offset-10 btn btn-secondary" *ngIf="phases[actualPhase].name === 'finish'" [disabled]="!addToCartEnable" style="text-align: center" (click)="AddToCart()">
      <i class="fa fa-cart-plus fa-2x"></i>
    </button>
  </div>
  <div id="cp-content" class="row">
    <div id="cp-content-card"
         class="col-12 col-md-4 p-2 ingredient-selector"
         [id]="'ingredient-selector-'+pizzaIngredientSelector.ingredient.name"
         (click)="SelectItem($event.target, pizzaIngredientSelector.ingredient.name)"
         *ngFor="let pizzaIngredientSelector of phases[actualPhase].pizzaIngredientSelectors"
    >
      <div id="cp-content-ingredient-select" class="card px-2"
           [style]="pizzaIngredientSelector.selected?'background-color: #111f45':'background-color: transparent'"
           *ngIf="phases[actualPhase].name !== 'finish'">
        <img class="img-fluid" src="{{pizzaIngredientSelector.ingredient.picture}}" alt="">
        <h4 class="text-center p-2 border-info border">{{pizzaIngredientSelector.ingredient.name}}</h4>
      </div>
      <div id="cp-content-quantity" class="card px-2"  *ngIf="phases[actualPhase].name === 'finish'">
        <label for="pizza-quantity">db</label>
        <input id="pizza-quantity" type="number" max="20" min="1" [value]="pizzaQuantity" (change)="SetPizzaQuantity()">
      </div>
    </div>
  </div>
</div>
