<div class="card-body-main">
  <div class="card align-items-center" id="welcome">
    <h1 class="h1 text-capitalize p-5">Üdvözöljük!</h1>

    <!-- Promotion page -->

    <h4>RENDELJ TŐLÜNK:</h4>
    <div class="row">

      <button type="button" class="btn btn-success" routerLink="/menu" (click)="navigate($event)">SORREND NÉLKÜLI</button>

      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#houseDeliveryCenter">
        HÁZHOZSZÁLLITÁS
      </button>
      <div class="modal fade" id="houseDeliveryCenter">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">HÁZHOZSZÁLLITÁS INFO.</h5>
            </div>
            <div class="modal-body">
              <form #f="ngForm" ngNativeValidate>
                <div class="form-group">
                  <label for="inputAddress">Cím</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" required/>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">Város</label>
                    <input type="text" class="form-control" id="inputCity" required/>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">Megye</label>
                    <select id="inputState" class="form-control">
                      <option selected="">Válasz...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="number" class="form-control" id="inputZip" required/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPhoneNumber">Telefonszám</label>
                  <input type="number" class="form-control" id="inputPhoneNumber" placeholder="xx xxx xxxx" required/>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
              <button type="button" class="btn btn-success" data-dismiss="modal" routerLink="/menu" (click)="navigate($event)">Menühöz</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <br/>
    
  </div>
  <br/>

  <div class="card align-items-center p-2">
    <div class="col-12">
      <div class="article">
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Excepturi dignissimos quam veritatis quae obcaecati voluptate facere enim voluptas,
          nobis ratione blanditiis et impedit cum maiores ad nam saepe iure repellendus.</p>
      </div>

      <!-- Trending table -->
      <div class="card-table">
        <h3 id="tableTitle">Trending</h3>

        <h4>Pizza</h4>
        <div class="card-deck">
          <div class="card" *ngFor="let item of filteredList | slice:0:3; let i=index">
            <img src="../../../../assets/images/{{item.name}}.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.name | titlecase}}</h5>
              <p class="card-text">        
                <ng-container *ngFor="let ingredient of item.ingredientsId">
                  {{ingredient | ingredientById}},
                </ng-container>
              </p>
            </div>
          </div>
        </div>

        <br/>

        <div class="card-deck">
          <div class="card" *ngFor="let item of filteredList | slice:4:7; let i=index">
            <img src="../../../../assets/images/{{item.name}}.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.name | titlecase}}</h5>
              <p class="card-text">        
                <ng-container *ngFor="let ingredient of item.ingredientsId">
                  {{ingredient | ingredientById}},
                </ng-container>
              </p>
            </div>
          </div>
        </div>

        <br/><br/>
        <a href="#" class="btn btn-success" style="text-transform:uppercase" id="menuButton" routerLink="/menu" (click)="navigate($event)">Menühöz</a>
      </div>

      <!-- SpecialOffer table -->
      <div class="card-table">
        <h3 id="tableTitle">Special Offers</h3>
        <div class="card-deck">
          <div class="card">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">10% off</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
            <a href="#" class="btn btn-primary" style="text-transform:uppercase" id="addOffer">Kosárba</a>
          </div>
          <div class="card">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Combo 1</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <a href="#" class="btn btn-primary" style="text-transform:uppercase" id="addOffer">Kosárba</a>
          </div>
          <div class="card">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Combo 2</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <a href="#" class="btn btn-primary" style="text-transform:uppercase" id="addOffer">Kosárba</a>
          </div>
        </div>
        <br/><br/>
      </div>
    </div>
  </div>

  <br>
</div>