    .modal
    {
      color: black;
    }

.article {
  padding: 2% 4%;
}

.card-table {
  padding: 0 4%;
}

    #addOffer
    {
      display: inline-block;
    }

#tableTitle {
    border-top: 2px solid #111f45;
  padding-top: 1%;
}

#menuButton {
  align-items: center;
  margin-top: -1%;
  margin-bottom: 3%;
}
