button.btn.btn-success
{
  margin: 0 5px;
}


.article {
  padding: 2% 4%;
}

.card-table {
  padding: 0 4%;
}


#tableTitle {
    border-top: 2px solid #111f45;
  padding-top: 1%;
}

#menuButton {
  align-items: center;
  margin-top: -1%;
  margin-bottom: 3%;
}
