<div class="card-body-main">
    <div class="card align-items-center">
        <h2 class="h2 text-capitalize p-5">Regisztráció</h2>
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" ngNativeValidate>
            <div class="form-group">
                <label>Teljes név</label>
                <div class="form-row">
                    <div class="col">
                      <input type="text" class="form-control" name="registerFirstName" placeholder="Keresztnév" ngModel required/>
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" name="registerLastName" placeholder="Vezetéknév" ngModel required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="registerNickname">Becenév</label>
                <input type="text" class="form-control" id="registerNickname" name="registerNickname" placeholder="Becenév" ngModel required>
            </div>
            <div class="form-group">
                <label for="registerEmail">E-mail cím</label>
               <input type="email" class="form-control" id="registerEmail" name="registerEmail" ngModel required/>
            </div>
            <div class="form-group">
                <label for="registerPassword">Jelszó</label>
                <input type="password" class="form-control" id="registerPassword" name="registerPassword" ngModel required/>
            </div>
            <div class="form-group">
               <label for="registerPasswordAgain">Jelszó ismét</label>
                <input type="password" class="form-control" id="registerPasswordAgain" name="registerPasswordAgain" ngModel required/>
            </div>
            <button type="submit" class="btn btn-primary">Regisztráció</button>
          <div class="row">
            <div class="col-sm">
              <p class="text-center" *ngIf="errorChecker === 'userExists'">Már létezik felhasználó ezzel az e-mail címmel!</p>
              <p class="text-center" *ngIf="errorChecker === 'passwordNotSame'">A jelszavak nem egyeznek!</p>
            </div>
          </div>
        </form>
        <br/><br/>
    </div>

</div>
