button.btn.btn-success
{
  margin: 0 5px;
}

.btn
{
  white-space: normal;
}

.card.align-items-center.p-2
{
  padding: 15px 10px !important;
  margin-top: 14px;
}


label {
  width: 100%;
  font-size: 1rem;
}

.card-input-element+.card {
  height: calc(36px + 2*1rem);
  color: var(--primary);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid transparent;
  border-radius: 4px;
}

.card-input-element+.card:hover {
  cursor: pointer;
}

.card-input-element:checked+.card {
  border: 2px solid var(--primary);
  -webkit-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s;
}

.card-input-element:checked+.card::after {
  color: #AFB8EA;
  font-size: 24px;
}
