<div class="card-body-main">
    <!-- Header -->
    <div class="card align-items-center" id="welcome">
      <h1 class="h1 text-capitalize p-5">A Kosarad</h1>

      <!-- Header Buttons -->
      <h4>MEGRENDELEM:</h4>
      <div class="row">
        <!-- Directional button -->
        <button type="button" class="btn btn-success" routerLink="/menu" (click)="navigate($event)">Vissza Menühöz</button>
        <!-- Modal form -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#paymentCenter">
          Rendelés és fizetés
        </button>
        <div class="modal fade" id="paymentCenter">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">FIZETÉS</h5>
              </div>
              <div class="modal-body">
                <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" ngNativeValidate>
                  <!-- Delivery data -->
                  <div class="form-group">
                    <label><h6>Megrendelő </h6></label>
                    <p>{{ buyingUser.name }}</p>
                    <p>{{ buyingUser.email }}</p>
                  </div>
                  <div class="form-group">
                    <label><h6>Szállítási adatok</h6></label>
                    <p *ngIf="orderType === 'nonOrder'">Nincs kiválasztva.</p>
                    <p *ngIf="orderType === 'orderHere'">Helyben átvétel.</p>
                    <p *ngIf="orderType === 'orderToUser'">Megye: {{ buyingAddress.county }}, Város: {{ buyingAddress.city }}</p>
                    <p *ngIf="orderType === 'orderToUser'">Iránytószám: {{ buyingAddress.zipCode }}</p>
                    <p *ngIf="orderType === 'orderToUser'">Cím: {{ buyingAddress.address }}</p>
                  </div>
                  <!-- Pickup Order info -->
                  <div class="form-group">
                    <label for=""><h6>Ki veszi át a rendelést</h6></label>
                    <div class="row">
                      <div class="col-6">
                        <label for="inputPhoneNumber">Telefonszám</label>
                        <input type="number" class="form-control" name="phone" id="inputPhoneNumber" placeholder="xx xxx xxxx" ngModel required/>
                      </div>
                      <div class="col-6">
                        <label>Kit kereshetünk?</label>
                        <input type="text" class="form-control" name="contactName" placeholder="Teljes név" ngModel required/>
                      </div>
                    </div>
                  </div>

                  <!-- payment method -->
                  <div class="form-group">
                    <label><h6>Fizetési mód</h6></label><br/>
                    <select id="inputState" name="payment" class="form-control" ngModel>
                      <option selected="">Válassz...</option>
                      <option>Online</option>
                      <option>Készpénz</option>
                    </select>
                  </div>
                  <!-- form button -->
                  <div class="modal-footer">
                    <button type="button" #buttonClose class="btn btn-secondary" data-dismiss="modal">Bezár</button>
                    <button type="submit" class="btn btn-danger">Fizetés</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
      <br/>

    </div>
    <br/>

    <!-- Main body -->
    <div class="row">
      <!-- Basket display area -->
      <div class="col-lg-9">
        <div class="card align-items-center p-1">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <!-- Printing out value from array -->
              <tr *ngFor=" let item of basketPizzas; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.price | currencyHuf }}</td>
              </tr>
              <tr *ngFor=" let item of basketDrinks; let j = index">
                <th scope="row">{{basketPizzas.length+j+1}}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.price | currencyHuf }}</td>
              </tr>
              <tr>
                <th><br/></th>
                <td><br/></td>
                <td><br/></td>
              </tr>
              <tr>
                <th scope="row" colspan="2">VÉGÖSSZEGE</th>
                <td>{{ basketPrice | currencyHuf }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- orderType change option -->
      <div class="col-lg-3">
        <div class="card align-items-center p-2">
          <form>
            <h6>Current Order type: </h6>
            <br/>
            <div class="align-items-center">
              <button class="btn btn-success">Button to change Order type</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br/>
</div>
