<div class="card-body-main">
    <!-- Header -->
    <div class="card align-items-center" id="welcome">
      <h1 class="h1 text-capitalize p-5">Változtasd meg a jelszavad</h1>
      <br/><br/><br/><br/>
    </div>
    <br/>
    <!-- Reset password Form -->
    <div class="card align-items-center p-2">
      <div class="form-row">
          <h4 class="h4 text-capitalize">Kérjük, add meg a regisztrációhoz használt email címed. <br/>A jelszó visszaállításhoz küldünk egy linket.</h4>
      </div>
        <form #f="ngForm" ngNativeValidate>
            <div class="form-group">
              <label for="resetEmail">E-mail cím</label>
              <input type="email" class="form-control" name="resetEmail" placeholder="abc@xyz.com" required/>
            </div>
            <div class="form-group">
              <label for="resetEmail">E-mail cím ismét</label>
              <input type="email" class="form-control" name="resetEmail" placeholder="abc@xyz.com" required/>
            </div>
            <button type="submit" class="btn btn-primary">Változtasd meg a jelszavad</button>
        </form>
        <br/><br/>
    </div>
    <br/>
</div>