<div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-light bg-light">

    <div href="#" class="navbar-brand">Brand</div>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="#" class="nav-item nav-link active">Home</a>
        <a href="#" class="nav-item nav-link">Profile</a>
        <!--DROPDOWN NEEDS RESPONSIBILITY-->
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Messages</a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Inbox</a>
            <a href="#" class="dropdown-item">Sent</a>
            <a href="#" class="dropdown-item">Drafts</a>
          </div>
        </div>
      </div>
      <!--SEARCH NEEDS REWRITE-->
      <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
      <!--LOGIN BUTTON-->
      <div class="navbar-nav">
        <a href="#" class="nav-item nav-link">Login</a>
      </div>
    </div>
  </nav>
</div>
