/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

#welcome
{
    color: white;
    background-image: url("https://cdn.portfolio.hu/articles/images-md/f/r/o/frozen-pizza-sales-go-through-the-roof-in-hungary-168921.jpg");
    background-color: #111f45;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}

.card-body-main
{
  padding: 1% 2%;
  background-color: #111f45;
}

button
{
    text-transform: uppercase;
}